certifi
charset-normalizer
easyocr
idna
imageio
networkx
numpy
opencv-python-headless
packaging
Pillow
pyparsing
python-bidi
PyWavelets
PyYAML
requests
scikit-image
scipy
six
tifffile
torch
torchvision
typing_extensions
urllib3
